div,h1{
  font-family: cursive;
}
.favorites-weather-wrapper{
  margin: 0 5em 5em 5em;
}
.title-wrapper{
  margin: 1em 0 0 0;
}
.fav-card-wrapper{
  display: flex;
  flex-direction: row;
}
